/* worksans fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* common styles */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-title-color: #0B0223;
}
body{
    font-family: 'Work Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    border: 1px solid red;
    min-height: 80px;
    max-width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.sec-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* header section styles stats here */

/* navbar section styles starts here */
.header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav{
    padding: 38px 0 39px;
}
.navbar-logo{
    width: 50%;
    gap: 20px;
    align-items: center;
}
.logo{
    width: 86px;
    height: 40px;
}
.navbar-title{
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--primary-title-color);
}
.letter-color{
    background-image: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}
.navbar-links{
    width: 50%;
    gap: 32px;
    align-items: center;
    justify-content: flex-end;
}
.navbar-links li a, .follow-us span{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.follow-us{
    padding: 17px 24px 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
}
.follow-us span{
    margin-right: 24px;
}
.follow-us .youtube{
    margin-right: 16px;
    max-height: 24px;
}
/* navbar section styles ends here */

/* banner section styles starts here */
.banner-sec-main-wrapper{
    border: 5px solid purple;
    background-image: url(../images/group-14.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45% auto;
}
.banner{
    justify-content: space-between;
}
.banner-text-content{
    border: 1px solid blue;
    width: 50%;
}
.banner-text-content p{
    color: var(--primary-title-color);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text-content ul{
    margin: 24px 0 41px;
}
.banner-text-content li{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
    
}
.banner-text-content li:last-child{
    margin-bottom: 0;
}
.banner-list-icon{
    margin-right: 12px;
}
.banner-title{
    font-size: 5.75rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-image{
    border: 1px solid green;
    width: 50%;
}

/* banner section styles ends here */

/* header section styles ends here */








