/* worksans fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* common styles */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-title-color: #0B0223;
    --primary-linear-gradient: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    --title-font-size: 3rem;
    --primary-text-size: 1.25rem;
    --primary-text-color: #534C64;
}
body{
    font-family: 'Work Sans', sans-serif;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.container{
    border: 1px solid red;
    min-height: 80px;
    max-width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.center{
    text-align: center;
}
.sec-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.primary-btn{
    padding: 21px 40px;
    border: 0;
    border-radius: 48px;
    background: var(--primary-linear-gradient);
}

/* header section styles stats here */

/* navbar section styles starts here */
.header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav{
    padding: 38px 0 39px;
}
.navbar-logo{
    width: 50%;
    gap: 20px;
    align-items: center;
}
.logo{
    width: 86px;
    height: 40px;
}
.navbar-title{
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--primary-title-color);
}
.letter-color{
    background-image: var(--primary-linear-gradient);
}
.navbar-links{
    width: 50%;
    gap: 32px;
    align-items: center;
    justify-content: flex-end;
}
.navbar-links li a, .follow-us span{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.follow-us{
    padding: 17px 24px 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
}
.follow-us span{
    margin-right: 24px;
}
.follow-us .youtube{
    margin-right: 16px;
    max-height: 24px;
}
/* navbar section styles ends here */

/* banner section styles starts here */
.banner-sec-main-wrapper{
    background-image: url(../images/group-14.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 47% 680px;
}
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-text-content{
    width: 50%;
}
.banner-text-content p{
    color: var(--primary-title-color);
    font-size: var(--title-font-size);
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 5.75rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-text-content ul{
    margin: 24px 0 41px;
}
.banner-text-content li{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
    
}
.banner-text-content li:last-child{
    margin-bottom: 0;
}
.banner-list-icon{
    margin-right: 12px;
}
.banner-btn{
    gap: 24px;
}
.banner-btn > .primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-btn > .primary-btn:last-child{
    background: #4EC5F7;
}
.banner-image{
    width: 50%;
}
.banner-image > img{
    width: 100%;
    height: 100% ;
}

/* banner section styles ends here */

/* header section styles ends here */

/* main section styles starts here */

/* online games section styles starts here */

.online-games{
    margin: 120px auto;
}
.online-games h2{
    color: var(--primary-title-color);
    font-size: var(--title-font-size);
    font-weight: 700;
    margin-bottom: 16px;
}
.online-games p{
    color: var(--primary-text-color);
    font-size: var(--primary-text-size);
}
.online-games-content{
    margin-top: 48px;
    gap: 24px;
}
.single-online-game{
    width: 342px;
}
.single-online-game:hover > .play-video > .watch-now{
    opacity: 1;
}
.single-online-game:hover > .play-video {
    border-color: #FF42A5;
}
.play-video{
    position: relative;
    margin-bottom: 24px;
    border: 4px solid transparent;
    border-radius: 16px;
}
.play-video img{
    display: block;
}
.watch-now{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.60);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s ease;
    cursor: pointer;
}
.watch-now .fa-circle-play{
    font-size: 48px;
    margin: 0 0 0;
    color: #FFF;
}
.watch-now span{
    font-size: var(--primary-text-size);
    font-weight: 600;
    background: var(--primary-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}


/* online games section styles ends here */

/* games link section styles start here */

.games-link{
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 27px;
    row-gap: 28px;
    padding: 120px 0 118px;
}
.single-game-link{
    align-items: center;
    gap: 16px;
    padding: 10px 20px 10px 10px;
    border: 1.5px solid transparent;
    border-radius: 50px;
    transition: .5s ease;
    cursor: pointer;
}
.single-game-link:hover{
    border-color: #FF42A5;
}
.single-game-link p{
    color: var(--primary-title-color);
    font-size: var(--primary-text-size);
    font-weight: 600;
}
.single-game-link:hover p{
    background: var(--primary-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.single-game-link img{
    width: 60px;
    height: 60px;
}


/* games link section styles ends here */

/* main section styles ends here */

