
/* responsive styles for tablet devices */
@media screen and (min-width: 425px) and (max-width: 768px){
    /* header section styles starts here */
    .navbar-logo, .navbar-links {
        justify-content: center;
    }
    .navbar-links {
        flex-wrap: wrap;
    }
    /* header section styles ends here */

    /* banner section styles starts here */
    .banner-sec-main-wrapper{
        background-position: left bottom;
        background-size: 100% 696px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text-content, .banner-image{
        width: 100%;
    }
    .banner-text-content{
        padding: 130px 0 165px 25%;
        margin: 24px 0 36px;
    }
    /* banner section styles ends here */

    /* main section styles starts here */

    /* online games section styles starts here */

    .online-games-content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }
    .single-online-game{
        text-align: center;
    }

    /* online games section styles ends here */

    /* main section styles ends here */
    
}


/* responsive styles for mobile devices */
@media screen and (max-width: 425px) {
    /* header section styles starts here */
    .header{
        box-shadow: none;
    }
    .nav{
        flex-direction: column;
        padding: 100px 0 75px;
    }
    .navbar-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }
    .navbar-links {
        width: 100%;
        flex-direction: column;
        gap: 36px;
    }
    .follow-us{
        margin-top: 36px;
    }
    /* header section styles ends here */

    /* banner section styles starts here */
    .banner-sec-main-wrapper{
        background-position: left bottom;
        background-size: 423px 696px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text-content, .banner-image{
        width: 100%;
    }
    .banner-text-content{
        padding: 130px 0 165px 30px;
        margin: 24px 0 36px;
    }
    /* banner section styles ends here */

    /* main section styles starts here */

    /* online games section styles starts here */
    .online-games{
        margin: 160px 0 95px;
        padding: 0 5px;
    }
    .online-games p{
        padding: 0 10px;
    }
    .online-games-content{
        flex-direction: column;
        gap: 55px;
        margin-top: 81px;
    }
    .single-online-game{
        width: 100%;
        text-align: center;
    }
    .play-video{
        margin-bottom: 33px;
    }
    /* online games section styles ends here */

    /* main section styles ends here */
}