
/* responsive styles for tablet devices */
@media screen and (min-width: 425px) and (max-width: 768px){
    /* header section styles starts here */
    .navbar-logo, .navbar-links {
        justify-content: center;
    }
    .navbar-links {
        flex-wrap: wrap;
    }
    /* header section styles ends here */

    /* banner section styles starts here */
    .banner-sec-main-wrapper{
        background-position: left bottom;
        background-size: 100% 696px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text-content, .banner-image{
        width: 100%;
    }
    .banner-text-content{
        padding: 130px 0 165px 25%;
        margin: 24px 0 36px;
    }
    /* banner section styles ends here */

    /* main section styles starts here */

    /* online games section styles starts here */

    .online-games-content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }
    .single-online-game{
        text-align: center;
    }

    /* online games section styles ends here */

    /* play instantly section styles starts here */
    
    .play-instantly{
        flex-direction: column;
        padding: 0 3px;
        align-items: flex-end;
    }
    .play-instantly-text-content{
        text-align: center;
        width: 100%;
        padding-right: 0;
        margin-bottom: 75px;
    }
    .play-instantly-image{
        right: 1%;
    }
    .play-instantly-image img:first-child{
        width: 100%;
    }
    #overlay-image{
        left: -18%;
        width: 45%;
    }

    /* play instantly section styles ends here */

    /* game link section styles start here */

    .games-link{
        row-gap: 61px;
        padding: 185px 3px 161px;
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .single-game-link{
        flex-direction: column;
        border-radius: 10px;
        padding: 10px 7px;
        text-align: center;
    }

    /* game link section styles ends here */

    /* main section styles ends here */

    /* footer section styles starts here */
    .footer-links{
        flex-wrap: wrap;
        justify-content: center;
    }
    .terms-and-policy{
        text-align: center;
        margin-bottom: 74px;
    }
    /* footer section styles ends here */
}


/* responsive styles for mobile devices */
@media screen and (max-width: 425px) {
    /* header section styles starts here */
    .header{
        box-shadow: none;
    }
    .nav{
        flex-direction: column;
        padding: 100px 0 75px;
    }
    .navbar-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }
    .navbar-links {
        width: 100%;
        flex-direction: column;
        gap: 36px;
    }
    .follow-us{
        margin-top: 36px;
    }
    /* header section styles ends here */

    /* banner section styles starts here */
    .banner-sec-main-wrapper{
        background-position: left bottom;
        background-size: 423px 696px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text-content, .banner-image{
        width: 100%;
    }
    .banner-text-content{
        padding: 130px 0 165px 30px;
        margin: 24px 0 36px;
    }
    /* banner section styles ends here */

    /* main section styles starts here */

    /* online games section styles starts here */
    .online-games{
        margin: 160px 0 95px;
        padding: 0 5px;
    }
    .online-games p{
        padding: 0 10px;
    }
    .online-games-content{
        flex-direction: column;
        gap: 55px;
        margin-top: 81px;
    }
    .single-online-game{
        width: 100%;
        text-align: center;
    }
    .play-video{
        margin-bottom: 33px;
    }
    /* online games section styles ends here */

    /* play instantly section styles starts here */
    .play-instantly{
        flex-direction: column;
        padding: 0 3px;
        align-items: flex-end;
    }
    .play-instantly-text-content{
        text-align: center;
        width: 100%;
        padding-right: 0;
        margin-bottom: 75px;
    }
    .play-instantly-image img:first-child{
        width: 90%;
        position: relative;
        right: -10%;
    }
    #overlay-image{
        left: 2%;
        width: 40%;
        height: 50%;
    }

    /* play instantly section styles ends here */

    /* game link section styles start here */
    .games-link{
        row-gap: 61px;
        padding: 185px 3px 161px;
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .single-game-link{
        flex-direction: column;
        border-radius: 10px;
        padding: 10px 7px;
        text-align: center;
    }
    /* game link section styles ends here */

    /* main section styles ends here */

    /* footer section starts here */
    .footer{
        padding: 150px 0 80px;
    }
    .footer-main-content-wrapper .navbar-logo{
        margin-bottom: 35px;
    }
    .footer-links{
        row-gap: 35px;
        margin-bottom: 80px;
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-icons{
        margin-bottom: 66px;
        display: grid;
        grid-template-columns: repeat(3, 40px);
        gap: 60px;
    }
    .social-icons li{
        text-align: center;
    }
    .social-icons a{
        width: 40px;
    }
    .terms-and-policy{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 38px;
        margin-bottom: 74px;
    }
    .footer-main-content-wrapper > p{
        text-align: center;
    }
    /* footer section ends here */
}